﻿﻿﻿@model SeminarMVC.Models.Grad
<table class="table table-condensed">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <th>Naziv</th>
            <td>@Model.Ime</td>
        </tr>
        <tr>
            <th>Država</th>
            <td>@Model.Drzava</td>
        </tr>
    </tbody>
</table>
