@model List<SeminarMVC.Models.Restoran>
@{
    ViewBag.Title = "Pregled restorana";
}
<div class="panel panel-heading">
    <div class="row">
        <div class="col-xs-8">
            <h2>Pregled restorana</h2>
        </div>
        <div class="col-xs-4 text-right">
            <a href="@Url.Action("Create")" style="margin-top: 20px;" class="btn btn-success">Dodaj novi restoran</a>
        </div>
    </div>
</div>
@Html.Partial("_RestoranFilter", new SeminarMVC.Models.RestoranFilterModel())
@Html.Partial("_IndexTable", Model)
@section scripts{
    <style type="text/css">
        table.table tr.bold {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $(".restorans-filter .submit-button").on("click", function () {
                $.ajax({
                    url: '@Url.Action("IndexAjax")',
                    method: "POST",
                    data: $(this).closest('form').serialize(),
                    success: function (data) {
                        $("#tbl-restorans").replaceWith(data);
                    }
                });
            });
        });
    </script>
}